<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyParkSpot - Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="center">
      <button id="findParking">Find Parking Spot</button>
      <div id="map" style="display: none"></div>
    </div>
    <%- include('partials/footer') %>
    <script>
      document.getElementById("findParking").addEventListener("click", () => {
        window.location.href = "/map";
      });
    </script>
  </body>
</html>
