<!doctype html>
<html lang="en">
  <head>
    <title>MyParkSpot - Home</title>
    <%- include('shared/includes/meta') %> <%- include('shared/includes/styles')
    %>
  </head>
  <body>
    <%- include('shared/partials/header') %>
    <div class="center">
      <button id="findParking">Find Parking Spot</button>
      <div id="map" style="display: none"></div>
    </div>
    <%- include('shared/partials/footer') %>
    <script>
      document.getElementById('findParking').addEventListener('click', () => {
        window.location.href = '/map';
      });
    </script>
  </body>
</html>
