<footer class="text-primary bg-background w-full p-6 text-center shadow-lg">
  <div class="mt-4 flex justify-center gap-4">
    <a class="link-hover link text-primary hover:text-secondary" href="/#about"
      >About Us</a
    >
    <a
      class="link-hover link text-primary hover:text-secondary"
      href="/#contact"
      >Contact</a
    >
    <a
      class="link-hover link text-primary hover:text-secondary"
      href="/#privacy"
      >Privacy Policy</a
    >
  </div>
  <p class="text-base font-bold">&copy; 2024 MyParkSpot</p>
</footer>
