<header
  class="flex items-center justify-between bg-background p-6 shadow-md xl:px-20">
  <a class="flex items-center gap-2 text-primary" href="/">
    <p class="font-serif text-2xl font-medium">MyParkSpot</p>
  </a>
  <div class="hidden flex-1 items-center gap-12 px-16 md:flex">
    <a class="link-hover link text-secondary hover:text-hover" href="/">Home</a>
    <a class="link-hover link text-secondary hover:text-hover" href="/map"
      >Find Parking</a
    >
  </div>

  <% if(!user) { %>
  <a
    href="/auth/login"
    class="btn-sm btn transform rounded-full border px-6 py-2 font-semibold transition duration-300 ease-in-out hover:scale-105">
    Log in
  </a>
  <% } else { %>
  <div class="flex items-center gap-4">
    <span class="hidden text-secondary md:inline">
      Hello, <%= user.username %></span
    >
    <a
      href="/client/account"
      class="btn-sm btn transform rounded-full border px-6 py-2 font-semibold transition duration-300 ease-in-out hover:scale-105">
      Profile
    </a>
  </div>
  <% } %>
</header>
