<header class="flex items-center justify-between bg-background p-6 shadow-md">
  <a class="flex items-center gap-2 text-primary" href="/">
    <p class="font-serif text-2xl font-medium">MyParkSpot</p>
  </a>
  <div class="hidden flex-1 items-center gap-12 px-16 md:flex">
    <a class="link-hover link text-secondary hover:text-hover" href="/">Home</a>
    <a class="link-hover link text-secondary hover:text-hover" href="/map"
      >Find Parking</a
    >
  </div>

  <% if(!user) { %>
  <a
    href="/auth/login"
    class="btn-sm btn transform rounded-full border px-6 py-2 font-semibold transition duration-300 ease-in-out hover:scale-105">
    Log in
  </a>
  <% } else { %> Hello, <%= user.username %> <br />
  <a
    href="/client"
    class="btn-sm btn transform rounded-full border px-6 py-2 font-semibold transition duration-300 ease-in-out hover:scale-105">
    Client Panel
  </a>
  <% } %>
</header>
