@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body,
html {
  height: 100%;
  margin: 0;
}

#map {
  height: calc(100% - 90px);
  width: 100%;
  position: absolute;
  top: 90px;
}

.custom-div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-cluster div {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.marker-cluster span {
  line-height: 32px;
}

.marker-cluster-small {
  background-color: rgba(0, 0, 0, 0.2);
}
.marker-cluster-medium {
  background-color: rgba(0, 0, 0, 0.2);
}

.marker-cluster-large {
  background-color: rgba(0, 0, 0, 0.2);
}

.marker-cluster div {
  background-color: rgb(120, 120, 120);
  color: white;
}
