<!doctype html>
<html lang="en">
  <head>
    <title>MyParkSpot - Login</title>
    <%- include('../../shared/includes/meta') %>
    <%- include('../../shared/includes/styles') %>
  </head>
  <body>
    <form>
      <input type="text" id="email" placeholder="Email" /> <br />
      <input type="text" id="username" placeholder="Username" /> <br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
