<!doctype html>
<html lang="en">
  <head>
    <title>MyParkSpot - Register</title>
    <%- include('../../shared/includes/meta') %> <%-
    include('../../shared/includes/styles') %>
  </head>
  <body>
    <main class="flex min-h-screen items-center justify-center">
      <section
        class="flex h-fit w-fit flex-col items-center justify-center rounded-3xl border border-gray-300 px-6 py-10 shadow-lg sm:p-12">
        <h1 class="mb-4 font-serif text-2xl font-medium md:mb-6">
          <a href="/">MyParkSpot.</a>
        </h1>
        <h2 class="text-center font-serif text-2xl font-bold text-primary">
          Create your account
        </h2>
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" action="/auth/register" method="POST">
            <div class="flex space-x-4">
              <div class="w-1/2">
                <label
                  for="firstName"
                  class="block text-sm font-medium text-gray-900"
                  >First Name</label
                >
                <div class="mt-2">
                  <input
                    id="firstName"
                    name="firstName"
                    type="text"
                    required
                    class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm outline-2 outline-primary focus:border-primary focus:ring-primary sm:text-sm" />
                </div>
              </div>
              <div class="w-1/2">
                <label
                  for="lastName"
                  class="block text-sm font-medium text-gray-900"
                  >Last Name</label
                >
                <div class="mt-2">
                  <input
                    id="lastName"
                    name="lastName"
                    type="text"
                    required
                    class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm outline-2 outline-primary focus:border-primary focus:ring-primary sm:text-sm" />
                </div>
              </div>
            </div>
            <div>
              <label
                for="username"
                class="block text-sm font-medium text-gray-900"
                >Username</label
              >
              <div class="mt-2">
                <input
                  id="username"
                  name="username"
                  type="text"
                  autocomplete="false"
                  required
                  class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm outline-2 outline-primary focus:border-primary focus:ring-primary sm:text-sm" />
              </div>
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-900"
                >Email address</label
              >
              <div class="mt-2">
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="false"
                  required
                  class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm outline-2 outline-primary focus:border-primary focus:ring-primary sm:text-sm" />
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block text-sm font-medium text-gray-900"
                >Password</label
              >
              <div class="mt-2">
                <input
                  id="password"
                  name="password"
                  type="password"
                  required
                  class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm outline-2 outline-primary focus:border-primary focus:ring-primary sm:text-sm" />
              </div>
            </div>
            <div class="flex justify-center">
              <button
                type="submit"
                class="rounded-full border bg-primary px-4 py-2 font-medium text-white transition duration-300 ease-in-out hover:scale-105 hover:bg-hover md:px-6 md:py-3">
                Register
              </button>
            </div>
          </form>
          <p class="mt-4 text-center text-sm text-gray-600">
            Already have an account?
            <a
              href="/auth/login"
              class="font-medium text-primary hover:underline"
              >Sign in</a
            >
          </p>
        </div>
      </section>
    </main>

    <%- include('../../shared/includes/scripts') %>
  </body>
</html>
